@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --custom-gradient: linear-gradient(106.98deg, #E0B851 21.19%, #C99950 81.98%);
  --black: #3a3a3a;
  --yellow: #C99950;
  --other_yellow: #E0B851;
  --other_black: #231f20;
  --beige: #ece8d3;

  --font1:  'Brygada 1918', sans-serif;
  --font2: 'Roboto', sans-serif;
}



* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}


body {
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}
.home{
  padding: 0;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Adjust the right offset as needed */
  width: calc(100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.home header{
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

header.scrolled {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.logo_container {
  color: var(--yellow);
}

.nav_container {
  margin-left: auto;
  margin-right: 0;
}

.nav_list {
  list-style: none;
  display: flex;
}

.nav_item {
  position: relative;
  text-decoration: none;
  padding: 0px;
  color: #a5a5a5;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  margin-left: 40px;
  transition: margin-left 0.5s ease;
}

.nav_item.last {
  margin-right: 40px;
}

@media (max-width:1080px) {
  .nav_item {
    margin-left: 30px;
  }

  .nav_item.last {
    margin-right: 30px;
  }
}

@media (max-width:1005px) {
  .nav_item {
    margin-left: 10px;
  }

  .nav_item.last {
    margin-right: 10px;
  }
}

.nav_item::before,
.active::before {
  content: '';
  position: absolute;
  top: 95%;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--custom-gradient);
  height: 2px;
  transition: .3s;
}

.nav_item:hover::before,
.active {
  width: 100%;
  background-color: var(--custom-gradient);
}

.nav_item:hover {
  color: #C99950;
}

.nav_item_btn {
  padding-left: 20px;
  padding: 9px 25px;
  background: var(--custom-gradient);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 600;
  box-shadow: 0px 3px 15px 0px #75757580;
  text-decoration: none;
}

.active {
  color: var(--other_yellow);
}

.nav_item_btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 5px 0px #3a3a3a80;
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 50%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(36px);

  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;

  /* Animation */
  animation: slideIn 0.5s ease forwards;
}

.sidebar li {
  margin: 10px;
}

.sidebar li img {
  margin: 10px 0 0 5px;
  fill: #a5a5a5;

}



@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar.hide {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}



@media (max-width:890px) {
  .hideOnMobile {
    display: none;

  }

  .menu-button {
    display: block;
  }
}

/*--------------------------Home Page-------------------------------*/


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(126, 105, 105, 0.3)), url(assets/spa-therapy.jpg);
  background-size: cover;
  background-position: center;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  font-size: 20px; 
  
}

@media (max-width: 768px) {
  .hero {
    height: 100vh; 
    font-size: 18px; 
  }
}

.top_title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left; /* Update this line to left */
  color: #fff;
  padding: 20px;
  transform: translate(-50%, -50%); /* Add this line to keep the centering effect */
  
}

.top_title h1 {
  color: #fff;
  font-size: 5rem;
  font-family: var(--font1);
  font-weight: bolder;
  margin-bottom: 10px;
}

.top_title h3 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  font-family: var(--font2);
  margin: 10px 0;
}

.button{
  margin: 30px 0;
}

.button a {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.986);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.button a:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--other_yellow); 
}

.serv {
  text-align: center;
  margin-top: 20px;
}
.serv a{
  font-size: 1.2em;
  color: var(--other_yellow);
  outline-color: var(--custom-gradient);
}

.serv a:hover{
  text-shadow: 1px 1px 2px white; 
}

.title_container {
  text-align: center;
  margin: 30px 0;
}

.title {
  font-size: 36px;
  color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  background-clip: text;
  background-image: var(--custom-gradient); /* Adjust the gradient colors as needed */
}

.title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: var(--custom-gradient); /* Adjust the color as needed */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}





.form_container {
  background-color: #fff;
  margin-bottom: 30px;
}


.logo_container {
  text-align: center;

}



.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusted to space between the cards */
}

.card {
  width: calc(33.33% - 40px); /* Adjusted width to fit three cards per row with spacing */
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  box-sizing: border-box; /* Added to include padding in width calculation */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px; /* Adjusted height as per your requirement */
  object-fit: cover; /* Added to maintain aspect ratio and cover the container */
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 15px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}




.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*_______________________________________________Services_____________________________________________________________________*/



.accodion-item {
  position: relative;
  margin: 10px 20px;
}

.accordion-header {
  position: relative;
  padding: 10px;
  background: beige;

}

.accordion-header::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;

}

.accordion-content {
  position: relative;
  background-color: #f3f3f3;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease; /* Adjust the duration (0.5s) and easing function as needed */
  overflow-y: auto;
}

.accordion-item.active .accordion-content,
.accordion-header {
  height: auto;
  padding: 10px;
  color: #333;
}


/* _____________________________________________Contact Us ___________________________________________________________________*/

.send {
  text-align: center;
  margin-top: 20px;
}

.send h1 {
  font-size: 36px;
  color: var(--other_yellow);
  text-transform: uppercase;
  letter-spacing: 2px;

}

/* Contact Us forms */
.sub_text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form_message{
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
}

.sub_text ul{
  display: flex;
  border-bottom: #C99950 1px solid;
  border-top: #C99950 1px solid;
}
.sub_text li{
  list-style: none;
  margin: 5px;
  a{
    color: #3a3a3a;
  }
}
.sub_text i{
  color: var(--yellow);
}


form {
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.left_side,
.right_side {
  flex: 1; /* Equal width for both sides */
  height: 190px;
}

.left_side input,
.right_side textarea {
  width: 100%; /* Make input fields and textarea fill the available width */
  padding: 10px;
  border-radius: 10px;
}
textarea{
  height: 75%;
}
button {
  width: 100%; /* Button takes full width */
  padding: 10px;
  background: var(--custom-gradient); /* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  /* Button color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Contact Us - Facades*/


.location_container{
  margin-top: 20px;  
}

.facades {
  display: flex;
  margin: 30px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  border-top: 1px solid var(--yellow);
}

.facade_container {

  /* Two containers per row with some spacing */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.img_container {
  position: relative;
  overflow: hidden;
}

.img_container img {
  width: 100%;
  height: auto;
  display: block;
}


.facade_container p {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.facades {
  max-width: 1200px;
  margin: 0 auto;
}


.img_container::before {
  content: '';
  display: block;
  padding-top: 75%;
  /* Set the aspect ratio (height/width) for the container */
}

.img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map_container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: -10px;
}

@media screen and (max-width: 768px) {

  .facades {
    display: flex;
    flex-direction: column;
    /* Stack containers vertically */
    align-items: center;
    /* Center the containers horizontally */
  }

  .facade_container {
    flex: 0 0 90%;
    /* Full width for one container per row on smaller screens */

  }

}


/*_________________________________________________FOOTER_______________________________________________________-----*/

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fDiv {
  width: 200px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  margin: 0;
  line-height: 1.5;
}

.address {
  font-style: italic;
}

.sched {
  font-weight: bold;
}

.contacts {
  margin-top: 10px;
}

.social-links a {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5em;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .fDiv {
    width: 100%;
  }
}


/* 
.logo {
  width: 7%;
} */